################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/PhoneTrafficService
/packages
/PhoneTrafficService/.vs
/PhoneTrafficService/bin/Debug
/PhoneTrafficService/obj/Debug
/PhoneTrafficService/packages/System.Configuration.ConfigurationManager.8.0.1
/PhoneTrafficServiceTest/bin/Debug
/PhoneTrafficServiceTest/obj/Debug
/PhoneTrafficService/bin
/PhoneTrafficService/obj
/PhoneTrafficServiceTest/bin/Release
/PhoneTrafficServiceTest/obj/Release
/publish
/PhoneTrafficService/PhoneTrafficService.csproj.user
/PhoneTrafficService/Properties/app.manifest
/PhoneTrafficService.Installer/bin/Debug
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.BindBuiltOutputsFileListnull.txt
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.BindContentsFileListnull.txt
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.BindOutputsFileListnull.txt
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.FileList.txt
/PhoneTrafficService.Installer/obj/Debug/Product.wixobj
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.BindBuiltOutputsFileListen-us.txt
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.BindContentsFileListen-us.txt
/PhoneTrafficService.Installer/obj/Debug/PhoneTrafficService.Installer.wixproj.BindOutputsFileListen-us.txt
/PhoneTrafficServiceInstaller/bin/Debug/en-us
/PhoneTrafficServiceInstaller/obj/Debug
/PhoneTrafficServiceInstaller/obj/Release
/PhoneTrafficServiceInstaller/bin/Release/en-us
/PhoneTrafficServiceTest/bin/x86/Release
/PhoneTrafficServiceTest/obj/x86
/PhoneTrafficServiceTest/bin/x86/Debug
/PhoneTrafficServiceInstaller/ComponentsGenerated.wxs
