################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/PhoneTrafficService
/packages
/PhoneTrafficService/.vs
/PhoneTrafficService/bin/Debug
/PhoneTrafficService/obj/Debug
/PhoneTrafficService/packages/System.Configuration.ConfigurationManager.8.0.1
/PhoneTrafficServiceTest/bin/Debug
/PhoneTrafficServiceTest/obj/Debug
/PhoneTrafficService/bin
/PhoneTrafficService/obj
/PhoneTrafficServiceTest/bin/Release
/PhoneTrafficServiceTest/obj/Release
/publish
