<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<ComponentRef Id="TestFile" />
		</ComponentGroup>
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\PhoneTrafficService\bin\$(var.Platform)\$(var.Configuration)\">
			
			<Component Id="TestFile" Guid="{55E79F6B-2F80-470F-81AB-22B18FFC13FF}">
			<!--	<File Id="FileTestFile" Name="PhoneTrafficService.exe.config" KeyPath="yes" /> -->
				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
			</Component>
			
		</DirectoryRef>
	</Fragment>
</Wix>
