<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- Start Menu. -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProductShortcutDirectory" Name="!(loc.ProductShortcutFolderName)" />
			</Directory>
			
			<!-- Program Files Folder to install. By default uses 32 bit Program Files. -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
			</Directory>
		</Directory>
	</Fragment>
</Wix>
