<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define ProductCode = "{A9DF6361-4210-4995-8043-84FD4AA04177}"?>
	<?define BuildVersion = 1.0.0.0?>
	<?define UpgradeCode = "{F7000421-DF21-4958-A558-F6AACE6EEEAF}"?>
	
	<Product Id="$(var.ProductCode)"
			 Name="!(loc.ProductName)"
			 Language="!(loc.Language)"
			 Version="$(var.BuildVersion)"
			 Manufacturer="!(loc.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)" >
		
		<Package InstallerVersion="200"
			     Compressed="yes"
			     InstallScope="perMachine"
			     Manufacturer="!(loc.Manufacturer)"
				 Description="!(loc.Description)"
				 Keywords="!(loc.Keywords)"
				 Comments="!(loc.Comments)"
				 Languages="!(loc.Language)" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of PhoneTrafficService is already installed." />
		
		<!-- Include/embed the cab file in the .msi file. -->
		<MediaTemplate EmbedCab="yes" />

		<Icon Id="icon.ico" SourceFile="$(var.PhoneTrafficService.ProjectDir)\app.ico" />
		
		<!-- Use the icon.ico image for the app. -->
		<Property Id="APPPRODUCTICON">icon.ico</Property>
		
		<!-- Support link -->
		<Property Id="APPURLINFOABOUT">https://www.albanyhouse.co.uk/</Property>
		
		<!-- Use a simple UI for the installer. -->
		<UIRef Id="WixUI_Minimal" />

		<Feature Id="ProductFeature" Title="PhoneTrafficService.Installer" Level="1">
			
			<ComponentGroupRef Id="ProductComponents" />
			
		</Feature>
	</Product>

	<Fragment>
		
	</Fragment>
</Wix>
